body {
  background-color: #fff9f5;
  font-family: 'Montserrat', 'M PLUS 1p', sans-serif;
  font-size: 16px;
  color: rgba(36, 20, 14, 0.8);
  margin: 0;
  padding: 0;
}

/* menu */
i.menu-btn {
  position: fixed;
  display: block;
  top: 20px;
  right: 20px;
  color: #f0f6da;
  letter-spacing: 1px;
  background-color: rgba(0, 152, 79, 0.8);
  padding: 16px;
  cursor: pointer;
}

i.menu-btn:hover .menu-list {
  position: absolute;
  top: 48px;
  right: 0;
  display: block;
  background-color: rgba(0, 152, 79, 0.8);
  padding: 16px;
}

.menu-list {
  display: none;
}

.menu-list > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-list > ul > li {
  line-height: 40px;
  height: 40px;
  width: 160px;
  padding: 8px 16px;
}

.menu-list > ul > li > a {
  text-decoration: none;
  display: block;
  color: #f0f6da;
  font-family: 'Montserrat';
  font-weight: 400;
  height: 100%;
  width: 100%;
}

.menu-list > ul > li > a:hover {
  background-color: #89c997;
}

/* header */
header {
  height: 640px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/flower_table.jpg);
  text-align: center;
}

header > .logo {
  letter-spacing: 3px;
  padding-top: 200px;
}

header > .logo > h1 {
  font-size: 40px;
}

header > .logo > h3 {
  font-size: 24px;
  font-weight: 400;
  padding-top: 16px;
}

/* main */
main {
  margin: 80px auto;
  width: 960px;
}

main > h2 {
  text-align: center;
  font-size: 32px;
  letter-spacing: 1px;
  margin: 80px 0 16px;
}

main > .application {
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}

main > .application > div {
  background-color: #fffff9;
  border: solid 1px rgba(171, 177, 173, 0.5);
  height: calc(50% - 80px);
  width: calc(50% - 76px);
  padding: 16px;
  margin: 20px;
}

main > .application > div > a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: rgba(0, 152, 79, 0.8);
  font-weight: 700;
}

main > .application > div > .app-box {
  display: flex;
  height: calc(100% - 20px);
}

main > .application > div > .app-box > article {
  width: 50%;
  padding: 16px 8px 0;
}

main > .application > .app1 > .app-box > article#appimage1 {
  background-image: url(../images/FURIMASample68m.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 16px;
}

main > .application > div > .app-box > article#appimage1 > a {
  text-decoration: none;
  color:rgba(0, 152, 79, 0.8);
}

main > .application > .app2 > .app-box > article#appimage2 {
  background-image: url(../images/have_a_niceday.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 16px;
}

main > .application > div > .app-box > article#appimage2 > a {
  text-decoration: none;
  color:rgba(0, 152, 79, 0.8);
}

main > .application > div > .app-box > article > p {
  padding: 8px;
}

main > .profile {
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}

main > .profile > div {
  background-color: #fffff9;
  border: solid 1px rgba(171, 177, 173, 0.5);
  height: calc(50% - 80px);
  width: calc(50% - 76px);
  padding: 16px;
  margin: 20px;
}

main > .profile > div > h4 {
  text-align: center;
}

main > .profile > div > .prof-box {
  display: flex;
  height: calc(100% - 20px);
}

main > .profile > div > .prof-box > article {
  width: 50%;
  padding: 16px 8px 0;
}

main > .profile > div > .prof-box > article#its-me {
  background-image: url(../images/its_me.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

main > .profile > div > .prof-box > article > p {
  padding: 16px 0;
}

/* footer */
footer {
  background-color: #f0f6da;
  height: 320px;
  text-align: center;
}

footer > .footer-box {
  padding: 64px 0 0;
  line-height: 56px;
}

footer > .footer-box > h2 {
  font-size: 32px;
  letter-spacing: 1px;
}

footer > .footer-box > h4 {
  font-weight: 400;
}

footer > .footer-box > a {
  text-decoration: none;
  margin: 0 24px;
}

footer > .footer-box > a > i {
  color:rgba(0, 152, 79, 0.8);
}

footer > .footer-box > a > i:hover {
  color: #89c997;
}

footer > .footer-box > p.copyright {
  font-size: 8px;
  font-weight: 400;
}